{% extends "layout.html" %}
{% block content %}

<h2>Concello de {{ tconcello }}</h2>
<h3>Descarga as listaxes</h3>
<ul>
    <li>⏬ Listaxe de teselas con hábitats N2000 afectados por Poligonais eólicas:  <a href="hpoligonais/{{thpoligonais}}" target="_blank">{{thpoligonais}}</a></li>
    <li>⏬ Listaxe de teselas con hábitats N2000 afectados por Aeroxeradores: <a href="haerox/{{thaerox}}" target="_blank">{{thaerox}}</a></li>
    <li>⏬ Listaxe de teselas con hábitats N2000 afectados por LAATS: <a href="hlaats/{{thlaats}}" target="_blank">{{thlaats}}</a></li>
</ul>
<h3>Descarga a lenda das listaxes</h3>
<p>⏬ Descarga a lenda das listaxes (<a href='https://mapaseolicos.files.wordpress.com/2022/03/lenda.pdf' target="_blank">pdf</a>)</p>
<h3>Descarga as fichas </h3>
<p>⏬ Descarga as fichas  dos LIC, ZEC ou ZEPA aos que pertenecen estes hábitats
    <ul><li><a href="https://natura2000.eea.europa.eu/Natura2000/SDF.aspx?site={{tcodigo}}" target="_blank">Descargar fichas</a></li></ul>
</p>

<h3>Descarga o KMZ </h3>
<p>⏬ Descarga o arquivo kmz dos LIC, ZEC ou ZEPA aos que pertenecen estes hábitats</p>
<ul><li><a href="https://bio.discomap.eea.europa.eu/arcgis/rest/services/ProtectedSites/Natura2000Sites/MapServer/2/query?where=SiteCode+%3D+%27{{tcodigo}}%27&geometryType=esriGeometryEnvelope&inSR=&spatialRel=esriSpatialRelIntersects&outFields=SITECODE%2CSITENAME&f=kmz">Descargar KMZ</a></li></ul>


<h3>Presentar denuncias</h3>
<p>Instruccións para ⏩ <a href="https://mapaseolicos.wordpress.com/natura2000vseolicos/" target="_blank">presentar unha denuncia </a> á Unión Europea.</p>

<br>
<p><a href="javascript: history.go(-1)">Volver ao índice</a></p>


{% endblock %}