{% extends "layout.html" %}
{% block content %}

<h2>Presentar unha denuncia á Unión Europea</h2>


<h3>Presenta a túa denuncia a EU por internet</h3>

<p><strong>Á Comisión</strong> seguindo o formulario: <a href="https://ec.europa.eu/assets/sg/report-a-breach/complaints_es/">https://ec.europa.eu/assets/sg/report-a-breach/complaints_es/</a></p>

<p>Ou <strong>ao Parlamento</strong>, rexistrándote en <a href="https://www.europarl.europa.eu/petitions/en/home">https://www.europarl.europa.eu/petitions/en/home</a> e seguindo o formulario.</p>

<p>O texto que presentes pode ter en conta as seguintes premisas:</p>

<p>La instalación de macro industrias eólicas tiene perjuicios significativos y daños irreversibles para los hábitats prioritarios y de interés comunitario que a continuación se anexan a este escrito con sus respectivos códigos. </p>

<p>En toda Galicia se trata de:</p> 

<ul>
    <li>23.242 teselas con hábitats #Natura2000 de Galicia dentro de poligonales industriales eólicas.</li>
    <li>5.322 teselas con hábitats #Natura2000 de Galicia con Macro-aerogeradores dentro.</li>
    <li>1.823 teselas con hábitats #Natura2000 de Galicia afectadas por Líneas de Alta Tensión.</li>
</ul>

<p>⏬ Descarga as listaxes de toda Galicia (<a href='https://mapaseolicos.files.wordpress.com/2022/03/lenda.pdf'>+ lenda</a>) para adxuntar o documento.</p>

<p><a href="javascript: history.go(-1)">Volver ao índice</a></p>


{% endblock %}